.slider
	display block
	
.slider__slider-range
	content ''
	
	margin-left -2px
	
	sprite($range)

.slider__slides 
	display flex
	justify-content flex-start
	
	margin 0	
	margin-top 25px
		
	padding 0
	
	font-family ptsans
	font-size 13px
	
	font-weight bold
	
	color brown
	
	line-height 19px

.slider__slides-item-input
	display none
	
.slider__slides-item-label 
	position relative
	
	margin-top -30px
	
	cursor pointer
	
.slider__slides-item-label:first-of-type 
	margin-right 82px
	
.slider__slides-item-label:nth-of-type(2)
	margin-right 62px
	
.slider__slides-item-label:nth-of-type(3)
	margin-right 88px
	
.slider__slides-item-label:last-of-type 
	margin-right 0
	
	padding-top 5px

.slider__slides-item-label::before
	display none
	
.slider__slides-item-input:checked + .slider__slides-item-label::before
	position absolute
	
	top -46px
	left 0
	
	content ''
	
	display block
	
	width 17px
	height 14px
	
	background url('../images/sprite-csssr.png') no-repeat center
	background-position -616px -52px
	
.slider__slides-item-label:last-of-type::before
	display none
	
	
.slider__slides-item-input:last-of-type:checked + .slider__slides-item-label::before
	left 130px

	display block
	
	